.filter_box {
  margin: 5px 0 5px 0;
  width: 300px;
  padding: 20px;
  border-radius: 20px;
}

.filter_box h2 {
  font-size: 30px;
  margin: 0 0 30px;
  padding: 0;
  color: #000;
  text-align: center;
}

.filter_box .user_box {
  position: relative;
}

.filter_box .user_box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  background: transparent;
}

.filter_box .user_box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  pointer-events: none;
  transition: 0.5s;
}

.filter_box .user_box input:focus ~ label,
.filter_box .user_box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.filter_box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background-color: transparent;
  border: none;
  outline: none;
}

.filter_box button:hover {
  background: #00696e;
  color: #fff;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}
