.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 50px);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 1100px;
  padding: 20px;
  border-radius: 20px;
  background: radial-gradient(
    circle,
    rgb(201, 214, 214) 0%,
    rgb(183, 188, 194) 100%
  );
  box-shadow: 0 0 10px 0 #051937;
}
